# Tutorial DRMS

Tutorial ini merupakan pengenalan cara menggunakan module python drms untuk mengakses serta mengolah data SDO atau MDI. Penjelasan lebih mendalam mengenai DRMS bisa dilihat pada laman berikut https://pypi.python.org/pypi/drms.

### Pengenalan dasar

Langkah pertama yang harus dilakukan adalah mencari rentetan data SDO atau MDI. Data tersebut tersedia pada laman JSOC (http://jsoc.stanford.edu/). Setelah itu, buat kode antrian menggunakan modul DRMS untuk mendapatkan data keyword (metadata) dan  lokasi segment file (data). Supaya bisa mengakses data JSOC menggunakan DRMS, import module DRMS lalu buat kelas Client.

In [1]:
import drms
c = drms.Client()

Sekarang, semua rentetan data yang tersedia di JSOC bisa dipanggil menggunakan DRMS. Data HMI diawali dengan ''hmi.'', data AIA diawali dengan ''AIA.'', data MDI diawali dengan ''mdi.'', dan seterusnya. Untuk keperluan penelitian cuaca antariksa, salah satu data yang digunakan adalah data HMI SHARP. Penjelasan lebih lanjut tentang SHARP bisa dilihat di  http://jsoc.stanford.edu/doc/data/hmi/sharp/sharp.htm atau di https://mnurzaman.wordpress.com/.

In [2]:
c.series('aia.lev1')

[u'aia.lev1', u'aia.lev1_euv_12s', u'aia.lev1_uv_24s', u'aia.lev1_vis_1h']

Setiap data HMI mempunyai primekey tertentu yang berbeda dengan jenis data HMI lainnya. Untuk mengetahui primekey data HMI, gunakan perintah Client.pkey(). Selain itu, HMI data juga mempunyai regular keywords yang bisa dipanggil menggunakan perintah Client.key(). Client.info() digunakan untuk mengetahui informasi rinci dari suatu data HMI. Informasi lengkap bisa dilihat di http://jsoc.stanford.edu/ajax/RecordSetHelp.html. Berikut ini contoh untuk data HMI SHARP.

In [3]:
c.pkeys('aia.lev1')

[u'T_REC', u'FSN']

In [4]:
c.keys('aia.lev1')

[u'cparms_sg000',
 u'image_lev1_bzero',
 u'image_lev1_bscale',
 u'cparms_sg001',
 u'bad_pixel_bzero',
 u'bad_pixel_bscale',
 u'cparms_sg002',
 u'spikes_bzero',
 u'spikes_bscale',
 u'BLD_VERS',
 u'LVL_NUM',
 u'T_REC',
 u'T_REC_step',
 u'T_REC_epoch',
 u'T_REC_round',
 u'ORIGIN',
 u'DATE',
 u'TELESCOP',
 u'INSTRUME',
 u'DATE__OBS',
 u'T_OBS',
 u'CAMERA',
 u'IMG_TYPE',
 u'EXPTIME',
 u'EXPSDEV',
 u'INT_TIME',
 u'WAVELNTH',
 u'WAVEUNIT',
 u'WAVE_STR',
 u'FSN',
 u'FID',
 u'QUALLEV0',
 u'QUALITY',
 u'TOTVALS',
 u'DATAVALS',
 u'MISSVALS',
 u'PERCENTD',
 u'DATAMIN',
 u'DATAMAX',
 u'DATAMEDN',
 u'DATAMEAN',
 u'DATARMS',
 u'DATASKEW',
 u'DATAKURT',
 u'DATACENT',
 u'DATAP01',
 u'DATAP10',
 u'DATAP25',
 u'DATAP75',
 u'DATAP90',
 u'DATAP95',
 u'DATAP98',
 u'DATAP99',
 u'NSATPIX',
 u'OSCNMEAN',
 u'OSCNRMS',
 u'FLAT_REC',
 u'NSPIKES',
 u'CTYPE1',
 u'CUNIT1',
 u'CRVAL1',
 u'CDELT1',
 u'CRPIX1',
 u'CTYPE2',
 u'CUNIT2',
 u'CRVAL2',
 u'CDELT2',
 u'CRPIX2',
 u'CROTA2',
 u'R_SUN',
 u'MPO_REC',
 u'INST_ROT',
 u'IMSCL_MP',
 u'X0_MP',
 u'Y0_MP',
 u'ASD_REC',
 u'SAT_Y0',
 u'SAT_Z0',
 u'SAT_ROT',
 u'ACS_MODE',
 u'ACS_ECLP',
 u'ACS_SUNP',
 u'ACS_SAFE',
 u'ACS_CGT',
 u'ORB_REC',
 u'DSUN_REF',
 u'DSUN_OBS',
 u'RSUN_REF',
 u'RSUN_OBS',
 u'GAEX_OBS',
 u'GAEY_OBS',
 u'GAEZ_OBS',
 u'HAEX_OBS',
 u'HAEY_OBS',
 u'HAEZ_OBS',
 u'OBS_VR',
 u'OBS_VW',
 u'OBS_VN',
 u'CRLN_OBS',
 u'CRLT_OBS',
 u'CAR_ROT',
 u'HGLN_OBS',
 u'HGLT_OBS',
 u'ROI_NWIN',
 u'ROI_SUM',
 u'ROI_NAX1',
 u'ROI_NAY1',
 u'ROI_LLX1',
 u'ROI_LLY1',
 u'ROI_NAX2',
 u'ROI_NAY2',
 u'ROI_LLX2',
 u'ROI_LLY2',
 u'PIXLUNIT',
 u'DN_GAIN',
 u'EFF_AREA',
 u'EFF_AR_V',
 u'TEMPCCD',
 u'TEMPGT',
 u'TEMPSMIR',
 u'TEMPFPAD',
 u'ISPSNAME',
 u'ISPPKTIM',
 u'ISPPKTVN',
 u'AIVNMST',
 u'AIMGOTS',
 u'ASQHDR',
 u'ASQTNUM',
 u'ASQFSN',
 u'AIAHFSN',
 u'AECDELAY',
 u'AIAECTI',
 u'AIASEN',
 u'AIFDBID',
 u'AIMGOTSS',
 u'AIFCPS',
 u'AIFTSWTH',
 u'AIFRMLID',
 u'AIFTSID',
 u'AIHISMXB',
 u'AIHIS192',
 u'AIHIS348',
 u'AIHIS604',
 u'AIHIS860',
 u'AIFWEN',
 u'AIMGSHCE',
 u'AECTYPE',
 u'AECMODE',
 u'AISTATE',
 u'AIAECENF',
 u'AIFILTYP',
 u'AIMSHOBC',
 u'AIMSHOBE',
 u'AIMSHOTC',
 u'AIMSHOTE',
 u'AIMSHCBC',
 u'AIMSHCBE',
 u'AIMSHCTC',
 u'AIMSHCTE',
 u'AICFGDL1',
 u'AICFGDL2',
 u'AICFGDL3',
 u'AICFGDL4',
 u'AIFOENFL',
 u'AIMGFSN',
 u'AIMGTYP',
 u'AIAWVLEN',
 u'AIAGP1',
 u'AIAGP2',
 u'AIAGP3',
 u'AIAGP4',
 u'AIAGP5',
 u'AIAGP6',
 u'AIAGP7',
 u'AIAGP8',
 u'AIAGP9',
 u'AIAGP10',
 u'AGT1SVY',
 u'AGT1SVZ',
 u'AGT2SVY',
 u'AGT2SVZ',
 u'AGT3SVY',
 u'AGT3SVZ',
 u'AGT4SVY',
 u'AGT4SVZ',
 u'AIMGSHEN',
 u'KEYWDDOC',
 u'T_REC_index']

In [5]:
si = c.info('aia.lev1')

In [6]:
si.segments

             type     units protocol       dims                  note
name
image_lev1  short        dn     fits  4096x4096  lev1 image fits file
bad_pixel     int  location     fits        VAR        bad pixel list
spikes        int  location     fits    VARxVAR     spiked pixel list

Untuk memperoleh keyword data, segment data, serta urutan antrian data yang diinginkan bisa menggunakan perintah Client.query(). Query data SHARP harus menyertakan nomor HARP yang berkesesuaian dengan nomor NOAA daerah aktif tertentu. Secara umum HARP mempunyai dua tipe data, definitive dan near real time. Buka laman http://jsoc.stanford.edu/doc/data/hmi/sharp/sharp.htm atau  https://mnurzaman.wordpress.com/ untuk penjelasan lebih lanjut. Kesesuaian nomor HARP dan NOAA dapat dilihat di http://jsoc.stanford.edu/doc/data/hmi/harp/. Berikut ini contoh query data SHARP untuk daerah aktif NOAA 12644 dengan kesesuaian nomor HARP (data near real time) adalah 5485. Perintah 2017.04.03_TAI/1d@6h meminta data satu hari mulai 00:00 UT s.d. 24:00 UT dengan interval 6 jam. Jika perintahnya diubah menjadi 2017.04.03_15:00/3h artinya meminta data mulai 15:00 UT dengan interval data setiap 12 menit (resolusi temporal data HMI adalah 12 menit dan kelipatannya) s.d. 3 jam berikutnya (18:00).

In [7]:
k = c.query('hmi.sharp_cea_720s_nrt[5485][2017.04.03_TAI/1d@6h]',key='T_REC,T_OBS,TOTUSJH,USFLUX', seg='br')

In [8]:
k

(                     T_REC                    T_OBS   TOTUSJH        USFLUX
 0  2017.04.03_00:00:00_TAI  2017.04.02_23:59:60_TAI  5292.973  4.802924e+22
 1  2017.04.03_06:00:00_TAI  2017.04.03_06:00:00_TAI  5091.237  4.951932e+22
 2  2017.04.03_12:00:00_TAI  2017.04.03_11:59:60_TAI  4344.589  5.024389e+22
 3  2017.04.03_18:00:00_TAI  2017.04.03_17:59:60_TAI  3898.399  4.597862e+22,
                                  br
 0  /SUM92/D917838035/S00000/Br.fits
 1  /SUM96/D917932083/S00000/Br.fits
 2  /SUM87/D918010029/S00000/Br.fits
 3  /SUM89/D918090559/S00000/Br.fits)

In [9]:
k = c.query('hmi.sharp_cea_720s_nrt[5485][2017.04.03_15:00/3h]',key='T_REC,T_OBS,TOTUSJH,USFLUX')

In [10]:
k

                      T_REC                    T_OBS   TOTUSJH        USFLUX
0   2017.04.03_15:00:00_TAI  2017.04.03_14:59:60_TAI  4218.931  4.923699e+22
1   2017.04.03_15:12:00_TAI  2017.04.03_15:11:60_TAI  4214.697  4.956146e+22
2   2017.04.03_15:24:00_TAI  2017.04.03_15:23:60_TAI  4129.768  4.902409e+22
3   2017.04.03_15:36:00_TAI  2017.04.03_15:35:60_TAI  4041.287  4.902171e+22
4   2017.04.03_15:48:00_TAI  2017.04.03_15:47:60_TAI  4072.463  4.865948e+22
5   2017.04.03_16:00:00_TAI  2017.04.03_15:59:60_TAI  4076.159  4.883605e+22
6   2017.04.03_16:12:00_TAI  2017.04.03_16:11:60_TAI  4150.404  4.902760e+22
7   2017.04.03_16:24:00_TAI  2017.04.03_16:23:60_TAI  4161.647  4.914032e+22
8   2017.04.03_16:36:00_TAI  2017.04.03_16:35:60_TAI  4233.243  4.860708e+22
9   2017.04.03_16:48:00_TAI  2017.04.03_16:47:60_TAI  4122.021  4.891411e+22
10  2017.04.03_17:00:00_TAI  2017.04.03_16:59:60_TAI  4159.157  4.867615e+22
11  2017.04.03_17:12:00_TAI  2017.04.03_17:11:60_TAI  4057.350  4.880145e+22
12  2017.04.03_17:24:00_TAI  2017.04.03_17:23:60_TAI  3941.936  4.843898e+22
13  2017.04.03_17:36:00_TAI  2017.04.03_17:35:60_TAI  4070.987  4.706863e+22
14  2017.04.03_17:48:00_TAI  2017.04.03_17:47:60_TAI  4068.073  4.677427e+22

Contoh lainnya 2017.04.03_10:00/6h@24m yang artinya meminta data mulai 10:00 UT dengan interval data 24 menit s.d. 6 jam berikutnya.

In [45]:
k = c.query('hmi.sharp_cea_720s_nrt[5500][2017.04.27_10:00/6h@24m]',key='T_REC,T_OBS,USFLUX,TOTUSJH')

In [46]:
k

                      T_REC                    T_OBS        USFLUX   TOTUSJH
0   2017.04.27_10:00:00_TAI  2017.04.27_10:00:03_TAI  1.642525e+22  1686.740
1   2017.04.27_10:24:00_TAI  2017.04.27_10:24:03_TAI  1.640917e+22  1737.618
2   2017.04.27_10:48:00_TAI  2017.04.27_10:48:03_TAI  1.635944e+22  1674.165
3   2017.04.27_11:12:00_TAI  2017.04.27_11:12:03_TAI  1.615735e+22  1703.136
4   2017.04.27_11:36:00_TAI  2017.04.27_11:36:03_TAI  1.637601e+22  1729.716
5   2017.04.27_12:00:00_TAI  2017.04.27_12:00:03_TAI  1.605836e+22  1704.708
6   2017.04.27_12:24:00_TAI  2017.04.27_12:24:03_TAI  1.612186e+22  1707.882
7   2017.04.27_12:48:00_TAI  2017.04.27_12:48:03_TAI  1.635715e+22  1742.454
8   2017.04.27_13:12:00_TAI  2017.04.27_13:12:03_TAI  1.623120e+22  1706.392
9   2017.04.27_13:36:00_TAI  2017.04.27_13:36:03_TAI  1.645134e+22  1707.070
10  2017.04.27_14:00:00_TAI  2017.04.27_14:00:03_TAI  1.622958e+22  1671.346
11  2017.04.27_14:24:00_TAI  2017.04.27_14:24:03_TAI  1.619349e+22  1656.727
12  2017.04.27_14:48:00_TAI  2017.04.27_14:48:03_TAI  1.633979e+22  1649.948
13  2017.04.27_15:12:00_TAI  2017.04.27_15:12:03_TAI  1.601614e+22  1630.526
14  2017.04.27_15:36:00_TAI  2017.04.27_15:36:03_TAI  1.659519e+22  1658.186

Format waktu dalam data HMI mempunyai standar tersendiri (http://drms.readthedocs.io/en/stable/generated/drms.to_datetime.html?highlight=datetime), supaya format waktunya menjadi standar gunakan perintah drms.to_datetime().

In [13]:
t = drms.to_datetime(k.T_REC)

In [14]:
t

0    2017-04-03 10:00:00
1    2017-04-03 10:24:00
2    2017-04-03 10:48:00
3    2017-04-03 11:12:00
4    2017-04-03 11:36:00
5    2017-04-03 12:00:00
6    2017-04-03 12:24:00
7    2017-04-03 12:48:00
8    2017-04-03 13:12:00
9    2017-04-03 13:36:00
10   2017-04-03 14:00:00
11   2017-04-03 14:24:00
12   2017-04-03 14:48:00
13   2017-04-03 15:12:00
14   2017-04-03 15:36:00
Name: T_REC, dtype: datetime64[ns]

Hampir semua data HMI dan MDI mempunyai standar waktu khusus, yakni menggunakan TAI (perbedaan dengan standar waktu lain bisa dilihat di http://www.leapsecond.com/java/gpsclock.htm).
Saat ini python belum mendukung standar waktu TAI. Jika perlu mengubah standar waktu dari TAI ke UTC, bisa menggunakan modul Astropy sebagai berikut:

In [15]:
from astropy.time import Time
ta = Time(t[0], format='datetime', scale='tai')

In [16]:
ta

In [17]:
ta.utc

Data SHARP mempunyai segment vektor medan magnet dalam arah radial, phi, dan theta yang disimpan dalam format file FITS. Lokasi dari data SHARP tersebut bisa dilihat menggunakan perintah Client.query()

In [18]:
s = c.query('hmi.sharp_cea_720s_nrt[5485][2017.04.03_10:00/1h]', seg='br')

In [19]:
s

                                 br
0  /SUM88/D917979006/S00000/Br.fits
1  /SUM97/D917980879/S00000/Br.fits
2  /SUM91/D917981821/S00000/Br.fits
3  /SUM97/D917985363/S00000/Br.fits
4  /SUM86/D917986721/S00000/Br.fits

Data SHARP diatas, tersimpan di server JSOC. Data tersebut bisa diakses dengan menggunakan perintah dari module astropy:

In [20]:
url = 'http://jsoc.stanford.edu' + s.br[0]

In [21]:
url

u'http://jsoc.stanford.edu/SUM88/D917979006/S00000/Br.fits'

In [22]:
url1 = 'http://jsoc.stanford.edu' + s.br[1]

In [23]:
 url1

u'http://jsoc.stanford.edu/SUM97/D917980879/S00000/Br.fits'

In [24]:
from astropy.io import fits

In [25]:
a = fits.getdata(url)

In [26]:
print (a.shape, a.dtype)

((291L, 882L), dtype('float64'))

Sebagai catatan, data FITS yang terunduh dengan cara diatas tidak memuat headernya. Jika membutuhkkan data yang memuat header lengkap dengan keyword, maka gunakan c.export().

### Permintaan export data

Berikut ini contoh export data SHARP. Terlebih dahulu masukkan email pribadi saat memasukkan perintah drms.Client()

In [27]:
c = drms.Client(email='mzn5412@gmail.com', verbose=True)

In [28]:
si = c.info('hmi.sharp_cea_720s_nrt')

In [29]:
si.note

u'nrt Spaceweather HMI Active Region Patch (SHARP): CEA coordinates'

In [30]:
si.primekeys

[u'HARPNUM', u'T_REC']

Data SHARP tersebut diatas, mempunyai 11 segment data, sebagai berikut:

In [31]:
len(si.segments)

11

In [32]:
si.segments.index.values

array([u'magnetogram', u'bitmap', u'Dopplergram', u'continuum', u'Bp',
       u'Bt', u'Br', u'Bp_err', u'Bt_err', u'Br_err', u'conf_disambig'], dtype=object)

Sebagai contoh, dari data tersebut akan dilihat gambar magnetogram, dopplergram, serta vektor medan magnet dalam arah radial, theta, dan phi.

In [33]:
si.segments.loc[['Bp','Br','Bt','magnetogram','Dopplergram']]

,type,units,protocol,dims,note
name,,,,,
Bp,int,Gauss,fits,VARxVAR,"B_phi, positive westward"
Br,int,Gauss,fits,VARxVAR,"B_r, positive up"
Bt,int,Gauss,fits,VARxVAR,"B_theta, positive southward"
magnetogram,int,Gauss,fits,VARxVAR,Line-of-sight magnetogram in CEA projection
Dopplergram,int,m/s,fits,VARxVAR,Dopplergram in CEA projection

Keterangan VAR dalam kolom dims artinya data tersebut tersimpan dalam FITS dengan dimensi yang bervariasi. Untuk meminta data SHARP daerah aktif NOAA 12644 atau berkesesuaian dengan nomor HARP (data near real time) 5485 pada tanggal 3 April 2017, gunakan perintah berikut ini:

In [34]:
ds = 'hmi.sharp_cea_720s_nrt[5485][2017.04.03_TAI]{Bp,Br,Bt,magnetogram,Dopplergram}'

Jika menginginkan data FITS terunduh lengkap dengan keyword dan headernya, tambahkan protocol='fits' saat membuat perintah c.export().

In [35]:
r = c.export(ds,protocol='fits',email='mzn5412@gmail.com')

In [36]:
r

In [37]:
r.request_url

Export request pending. [id="JSOC_20170427_295", status=2]
Waiting for 2 seconds...

u'http://jsoc.stanford.edu/SUM90/D925880486/S00000'

In [38]:
print r.request_url

http://jsoc.stanford.edu/SUM90/D925880486/S00000

Catat: link unduh di atas bersifat sementara dan akan otomatis terhapus dalam beberapa hari.

Untuk melakukan export film, ubah protocol menjadi mpg.

In [39]:
ds = 'hmi.sharp_cea_720s_nrt[5485][2017.04.03/12h]{Bp}'

In [40]:
r = c.export(ds,protocol='mpg',email='mzn5412@gmail.com')

In [41]:
r.request_url

Export request pending. [id="JSOC_20170427_303", status=2]
Waiting for 4 seconds...

u'http://jsoc.stanford.edu/SUM87/D925883792/S00000'

In [42]:
print 'link download klik:', r.request_url

link download klik: http://jsoc.stanford.edu/SUM87/D925883792/S00000

Link unduh di atas juga bersifat sementara, segera unduh sebelum hilang.